.Dashboard {
  //   height: 150px;
//   display: flex;
//   flex-direction: column;
  .DashboardHeading {
    padding: 1rem;
  }
  .LeavelistContainer {
    padding: 1rem;
    display: flex;
    gap: 1rem;
  }
  
}
